*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color: rgba(205, 175, 233, 0.477);



    main{
        background-color: white;
        width: 560px;
        margin: auto;
        padding: 10px
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.484)
    }